services:
  db:
    image: mariadb:11.8.3-ubi9
    container_name: mysql-mariadb-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: rentaldb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports: 
      - "3306:3306"
    volumes: 
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 5

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server-container
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: rentaldb
      DB_USER: user
      DB_PASSWORD: pass
      DATABASE_URL: "mysql://user:pass@db:3306/rentaldb"
      NODE_ENV: development
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client-container
    restart: always
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=development
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server

volumes:
  db_data: